# This file defines the code owners of the repository
# These owners will be automatically requested for review when a PR is opened
# As per project rules, only the owner can merge changes.

* @carlos-2790
